#*
*$
*.BAK
*.Z
*.bak
*.dylib
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.rej
*/._SYS_REGI_settings/*
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
